name: Build Cheat Engine Windows

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Lazarus
      shell: cmd
      run: |
        choco install lazarus -y

    - name: Build
      shell: cmd
      run: |
        for /r %%i in (cheatengine.lpi) do (
          C:\lazarus\lazbuild.exe "%%i" --build-mode="Release 64"
          if errorlevel 1 (
            C:\lazarus\lazbuild.exe "%%i" --build-mode="Debug 64"
          )
        )

    - name: Collect files
      shell: cmd
      run: |
        mkdir output
        for /r %%i in (*.exe) do (
          copy "%%i" output\
        )
        "C:\Program Files\7-Zip\7z.exe" a build.zip .\output\*

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: cheat-engine
        path: build.zip
